@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Fredoka:wght@300;400&family=Indie+Flower&family=Lobster&family=Nunito:wght@200;300;400&family=Playfair+Display:ital@0;1&family=Redressed&family=Roboto:ital,wght@0,100;0,300;1,300&family=Sansita+Swashed:wght@300&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,300;1,400&family=Varela&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
.quiz-app{
    margin:20px auto ;
    width: 75vw;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #0a0a23;
    height: 85vh;
    border-radius: 10px;
    font-size: 25px;
    color: white;

}
.quiz-app .quiz-info{
    display: flex;
    /* background-color: #0a0a23; */
    padding: 20px;
}
.quiz-app .quiz-info .category{
flex: 1;
}
.quiz-app .quiz-info .count{
    flex: 1;
    text-align: right;
}
.quiz-app .quiz-area{
    background-color: #6b61f1;
    padding: 20px;
    margin-top: 15;
    border-radius: 5px;
}
.quiz-app .quiz-area h2{
    margin: 0;
}
.quiz-app .answers-area{
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    padding-left: 5px;
    
}
.quiz-app .answers-area .answer{
    /* background-color: #EEE; */
    padding: 8px;
    
    
}
.quiz-app .answers-area .answer:not(:last-child){
    border-bottom: 2px solid #dfdfdf;
}
.quiz-app .answers-area .answer input[type="radio"]:checked+label{
    color: #0075ff;
}
.quiz-app .answers-area .answer label{
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}
.quiz-app .submit-button{
    background-color: #d74249;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    margin: 20px auto;
}
.quiz-app .submit-button:focus{
    outline: none;
}
.quiz-app .bullets{
    border-top: 1px solid #dfdfdfdf;
    /* background-color: #737382; */
    margin-top: 30px;
    display: flex;
    padding: 20px;
}
.quiz-app .bullets .spans{
    display: flex;
    flex: 1;
    margin-top: -49px;
}
.quiz-app .bullets .spans span{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
}
.quiz-app .bullets .spans  .active{
    background-color: #0075ff;
}
.quiz-app .results span{
    font-weight: bold;
}
.quiz-app .results span .bad{
    color: #d74249;
}
.quiz-app .results  .good{
    color:#0075ff ;
}
.quiz-app .results span .excellent{
    color: #0075ff;

}
.countdown{
    margin-top: -60px;
}

@media (min-width:368px)
{
    .quiz-app{
        height: 99vh;
    }
}
@media (min-width:568px)
{
    .quiz-app{
        height: 97vh;
    }
}
@media (min-width:768px)
{
    .quiz-app{
        height: 97vh;
    }
}

@media (min-width:992px)
{
    .quiz-app{
        height: 99vh;
    }
}






















